---
import { SiteMetadata } from '../config'
import type { Frontmatter } from '../config'
import Base from '../layouts/base.astro'
import { Icon } from 'astro-icon'

import BackgroundImage from '/src/assets/images/pexels-chris-rodriguez-2884864.jpg'

const frontmatter: Frontmatter = {
  title: SiteMetadata.title,
  description: SiteMetadata.description,
  publishDate: SiteMetadata.buildTime
}

---

<Base frontmatter={frontmatter}>
    <main class=`w-full h-[calc(100vh-4rem)] relative`>
        <div class=`w-full h-full bg-no-repeat bg-center bg-cover blur-sm` style=`background-image: url(${BackgroundImage.src});`>
        </div>
        
        <div class="p-5 rounded-lg shadow-xl shadow-black/75 border bg-white absolute w-11/12 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 md:w-2/3">
            <h1 class="text-blue font-extrabold text-3xl"> Caja de Herramientas </h1>
            <p class="text-base mt-5 p-5 text-left md:text-lg"> La Caja de Herramientas se compone de una serie de guías orientadoras, acompañadas de documentos de trabajo, formatos y contenidos de apoyo que permitirán generar capacidades al interior de los establecimientos educativos para el fortalecimiento de los PRAE a nivel departamental. </p>
            <ul>
                <li>
                    <Icon
                        class='inline h-7 w-7 text-[#ff3838]'
                        aria-hidden='true'
                        name='teenyicons:pdf-solid'
                      />
                    <a 
                        class="my-auto align-middle hover:cursor-pointer hover:underline"
                        href="https://drive.google.com/file/d/1s2rtb9BbAI9y1UgyNDyFyH6KiHnK4q0e/view?usp=drive_link"
                        target="_blank"
                    > 
                        Presentacion-de-la-Caja-de-Herramientas-PRAE.pdf
                    </a>
                </li>
                <li class="mt-5">
                    <iframe 
                        class="w-full mx-auto h-80 md:h-96 lg:w-2/3"
                        src="https://www.youtube.com/embed/zj8mHLFRrVY?si=oPcPrmavrszzCdrn" 
                        title="YouTube video player" 
                        frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                        allowfullscreen>
                    </iframe>
                </li>
            </ul>
        </div>
    </main>
</Base>