---
import { Icon } from 'astro-icon'
import UTPGOB_LOGO from "/src/assets/png/LOGO_UTP_GOB.png"

const features = [
  {
    name: 'Participación Interinstitucional',
    description:
      'Fortalecer las acciones interinstitucionales y la participación de los diferentes actores en los procesos de educación ambiental',
    icon: 'fa-solid:handshake'
  },
  {
    name: 'Formación + Investigación',
    description:
      'Fortalecer los procesos de formación e investigación en el sector formal de la educación',
    icon: 'ph:book-fill'
  },
  {
    name: 'Incentivar la educación ambiental',
    description:
      'Fortalecer la estrategia de estímulos e incentivos para la educación ambiental en el sector formal',
    icon: 'ph:tree-fill'
  },
  {
    name: 'Estrategia Edu-comunicativa',
    description:
      'Estructurar la estrategia edu-comunicativa que permita el cumplimiento del eje de información y comunicación del PDAR',
    icon: 'mdi:speak'
  }
]
---

<div class='bg-white py-12 md:py-0 md:snap-center md:h-[calc(100vh-4rem)]'>
  <script defer src="https://unpkg.com/tailwindcss-intersect@1.x.x/dist/observer.min.js"></script>
  <div class='mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 md:flex md:flex-col md:items-center md:justify-around md:h-full'>
    <div class='lg:text-center'>
      <h2
        class='text-base font-semibold uppercase tracking-wide text-green-200 dark:text-green-300'
      >
        Convenios
      </h2>
      <p
        class='mt-2 text-3xl font-extrabold leading-8 tracking-tight text-blue-900 sm:text-4xl'
      >
        Universidad Tecnológica de Pereira
      </p>
      <p class='mt-5 max-w-2xl text-xl text-gray-600 lg:mx-auto lg:w-5/6 lg:max-w-full'>
        Para cumplir con las metas establecidas en el escenario de corto plazo del plan, se ha firmado un convenio interadministrativo con la Universidad Tecnológica de Pereira, donde prestó servicios para acompañar la implementación del Plan Decenal de Educación Ambiental de Risaralda 2019 - 2029 durante la vigencia 2023, conforme a lo establecido en la ordenanza No 28 del 2019
      </p>
    </div>

    <div class='mt-10 md:m-0'>
      <dl class='space-y-10 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10 md:space-y-0'>
        {
          features.map((feature) => (
            <div class='relative'>
              <dt>
                <div class='absolute flex h-12 w-12 items-center justify-center rounded-md bg-green-500 text-white'>
                  <Icon
                    class='h-10 w-10'
                    aria-hidden='true'
                    name={feature.icon}
                  />
                </div>
                <p class='ml-16 text-lg font-medium leading-6 text-gray-900'>
                  {feature.name}
                </p>
              </dt>
              <dd class='ml-16 mt-2 text-base text-gray-600'>
                {feature.description}
              </dd>
            </div>
          ))
        }
      </dl>
    </div>

    <div class='mt-10 w-full mx-auto md:w-1/2 md:m-0'>
      <img
        src={UTPGOB_LOGO.src}
        class="cover"
      />
    </div>

  </div>
</div>
