<div class='relative md:snap-center md:h-[calc(100vh-4rem)]'>
  <div class='mx-auto w-full h-full'>
    <div
      class='relative h-full w-full'
    >
      <div class='z-10 h-full w-full'>
        <video
          class='w-full object-cover blur-sm brightness-50 sm:h-72 md:h-full'
          autoplay
          autoplay
          muted
          loop
        >
          <source src='video_intro.mp4' type='video/mp4' />
           Your browser does not support the video tag.
        </video>
      </div>

      <main
        class='absolute w-full top-0 bottom-0 mx-auto max-w-max px-4 pt-10 sm:px-6 sm:pt-12 md:p-0 md:p-0'
      >
        <div class='w-full md:p-10 sm:text-left md:flex md:flex-col md:items-center md:justify-evenly md:h-full'>
          <h1
            class='text-center text-3xl font-extrabold tracking-tight text-white sm:text-center sm:text-5xl md:text-6xl'
          >
            <span class='block xl:inline'>Plan Decenal de Educación Ambiental de Risaralda</span>{
              ' '
            }
            <span class='block text-green-600 dark:text-green-300 xl:inline'>PDEAR</span>
          </h1>
          <p
            class='w-full hidden text-center text-white dark:text-gray-300 sm:mx-auto sm:mt-0 sm:max-w-xl sm:text-sm md:m-0 md:text-xl md:block lg:w-2/3 lg:max-w-full'
          >
          El Plan Decenal de Educación Ambiental de Risaralda 2019 2029 es el instrumento técnico y político, orientador de los procesos de institucionalización de las apuestas conceptuales, contextuales y proyectivas de la Política Nacional de Educación Ambiental en el Departamento, en el marco de lo planteado en el artículo 5to de la Ley 1549 de 2012
          </p>
          <!-- <p
            class='w-full hidden text-center text-white dark:text-gray-300 sm:mx-auto sm:mt-0 sm:max-w-xl sm:text-sm md:m-0 md:text-xl md:block lg:w-2/3 lg:max-w-full'
          >
            El Plan Decenal de Educación Ambiental de Risaralda 2019 2029 se adopta por medio de la ordenanza 028 de 2019, el Departamento ha venido velando porque sus 4 ejes estratégicos sean implementados en todos los planes de acción anuales de los diferentes COMEDAS de los 14 municipios, en el CIDEA y de manera intersectorial en la Mesa Intrainstitucional Educación Ambiental.
          </p> -->
        </div>
      </main>
    </div>
  </div>
</div>
